{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Advert edit</h1>

        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="Update" />
        {{ form_end(edit_form) }}

        <ul>
            <li>
                <a href="{{ path('advert_index') }}">Back to the list</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
