<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@bootstrap_css'
                '@main_css'
            %}
            <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="all"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block main_menu %}
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    {# Brand and toggle get grouped for better mobile display #}
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path("homepage") }}" title="{{ 'menu.main.home'|trans({}, 'menu') }}">Symfony 3.1.0</a>
                    </div>

                    {# Collect the nav links, forms, and other content for toggling #}
                    <div class="collapse navbar-collapse" id="admin-navbar-collapse-1">
                        {% if not is_granted('ROLE_CLIENT') %}
                            <a href="{{ path("advert_new") }}" class="btn btn-success navbar-btn" type="button">
                                <i class="glyphicon glyphicon-plus"></i>
                                {{ 'menu.main.advert.new'|trans({}, 'menu') }}
                            </a>
                        {% endif %}
                        {{ knp_menu_render('main', {'currentClass': 'active'}) }}
                        {{ knp_menu_render('user', {'currentClass': 'active'}) }}
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            {% javascripts '@jquery_js'
               '@bootstrap_js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
